@use "../Styles/_variables.scss" as *;

.split__section {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;
    margin: 9rem;
    align-items: center;
    line-height: 1.5;
    max-width: 100%;


    @media screen and (min-width: 1800px) {         //big screens
        padding: 9rem clamp(12rem, 15vw, 25rem);
        margin: unset;   
        column-gap: 5%;  
    }

        @media screen and (min-width: 1600px) { 
        p {
            max-width: 80%;
        }
    }

    @media (max-width: 1150px) {
        margin: 6rem;
    }

    @media (max-width: 1000px) {
        margin: 6rem 4rem;
    }

    @media (max-width: 799px) {
        grid-template-columns: 1fr;
        column-gap: 0;
        
    }


    @media (max-width: 699px) {
        //margin: 3rem 2rem;
        margin: 6rem 1rem;
    }


    img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 3em;
        aspect-ratio: 1.33/1;
        object-fit: cover;

        @media (max-width: 1300px) {
            align-self: flex-start;
        }

        @media (max-width: 799px) {
            margin-bottom: 2em;
            grid-column: 1;
            grid-row: 1;
        }
    }

    .section__text  {
        @media (max-width: 799px) {
            grid-column: 1; // Sørg for, at teksten også placeres i første kolonne
            grid-row: 2; // Placer teksten under billedet
            gap: 0;;
        
            h2 {
                margin-bottom: 0.5em;
            }

        }
    }
    }


.image__right {

    img {
        grid-column: 1;// 2/3;
        grid-row: 1;


        @media (max-width: 799px) {
            grid-column: 1;
        }
    }

    h2,
    p,
    button {
        grid-column: 1;
    }

}