
.button-link {
  width: fit-content;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  background: #000000;
  padding: 1em 1.5em;

  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
