@use "../Styles/_variables.scss" as *;

.button-link, button {
  width: fit-content;
  border-radius: 7px;
  border: none;

  padding: 1em 6em;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  height: 2.5em;

  margin: 2em 0;
  grid-column: span 2;
  justify-self: center;


  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.3);
    scale: 1.05;
    transition: all 0.2s ease-in-out;
  }
}
  .btn__light, .btn__color, button  {
    color: $light;
    background-color: $btn-color;
  }

  .btn__dark {
    color: $light;
    background-color: $button-dark;
  }

  button {
   align-self: end;
  }


  @media screen and (max-width: 500px) {


    .button-link, button {
      width: 100%;
      max-width: 100%;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3em;
      padding: 0.5em 1em;
      grid-column: unset;
    }

    .btn__hero{
      margin-top: 0.5em;
      width: 100%;
      max-width: 100%;
      align-self: center;
  }
  }

   @media (max-width: 350px) {

    *:hover {
        *transform: none !important;
        box-shadow: none !important;
        scale: 1 !important;  
    }

    .button-link, button {
      padding: 1.5em 1em;
      font-size: 16px;
      height: 2.5em;
    }

   }
