@use "../Styles/_variables.scss" as *;

.section__text {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-items: center;

    h2 {
        font-size: 46px;

        @media (max-width: 1170px) {
            font-size: 36px;
        }
    }

    p {
        font-size: 14px; //I recommend changing to size 16px for screen for better readability on screen
        line-height: 1.3;
    }
}

.Txt__centered {
    align-items: center;
    padding: 9rem clamp(4rem, 10vw, 8rem);
    width: 60%;
    text-align: center;
    margin: 0 3em;


    @media screen and (min-width: 1800px) {         //big screens
        padding: 9rem clamp(12rem, 15vw, 25rem);
    }

    h2 {
        font-size: 46px;

        @media (max-width: 530px) {
            font-size: 36px;
        }
    }

    @media (max-width: 899px) {
        padding: 6rem clamp(1rem, 5vw, 6rem);
    }

    @media (max-width: 530px) {
        width: 100%;
        gap: 1em;
        //padding: 3em 2em;

        p {
            max-width: 90%;
        }
    }
}