

.section__text {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;

  

    h2 {
        font-size: 46px;
        font-family: "DM Serif Display", serif;
    }

    p {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        line-height: 1.3;
    }
}

.Txt__centered {
    align-items: center;
    padding: 8em 0;
    width: 40%;
    text-align: center;

}

/* .Txt__start {

} */